*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


a{
    text-decoration: none;
}

li {
    list-style: none;
}


body{
    background-color: #1D1D1D;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 30px;
    z-index: 10001;
}

i{
    color: white;
    font-size: 30px;
}

.head-left{
    display: flex;
    margin-left: 10px;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.search{
    position: relative;
    width: 300px;
    border: none;
    border-radius: 15px;
    height: 45px;
}

.icon{
    background-color: #183D3D;
    width: 45px;
    height: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    position: absolute;
    top: 0%;
    right: 0%;
}

.signin{
    color: #93B1A6;
    font-weight: bold;
    margin-right: 15px;
}

.signup{
    background-color: #183D3D;
    padding: 10px 20px;
    color: #93B1A6;
    font-weight: 500;
    margin-right: 15px;
    border-radius: 15px;
}

.details{
    padding: 11% 7% 0% 7%;
    display: flex;
    gap: 10rem;
}

.images{
    display: flex;
    gap: 2rem;

}

.img1{
    width: 750px;
    height: 441px;
    border-radius: 48px;
    object-fit: cover;
}
.image2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.img2{
    width: 112px;
    height: 67px;
    border-radius: 15px;
    cursor: pointer;
    object-fit: cover;
}

.name img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.name{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.name2 img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.name2{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.james{
    vertical-align: middle;
    margin-bottom: 10px;
}

.james h3{
    font-size: 22px;
    font-weight: bold;
    color: #93B1A6;
}
.james h4{
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.jamess{
    vertical-align: middle;
    margin-bottom: 10px;
}

.jamess h3{
    font-size: 22px;
    font-weight: bold;
    color: #93B1A6;
}
.jamess h4{
    font-size: 15px;
    font-weight: bold;
    color: white;
}

p{
    width: 345px;
    color: #BBBBBB;
}

.owner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    font-weight: bold;
}

.map{
    border-radius: 25px;
    cursor: pointer;
}

.description{
    padding: 30px 7% 0px 7%;
}
.description p i{
    font-size: 12px;
    color: rgb(2, 165, 2);
}

.price{
    display: flex;
    gap: 2rem;
    margin-top: 10px;
    align-items: center;
}

.price h1{
    font-size: 30px;
    color: #93B1A6;
    font-weight: bold;
}

.price p{
    position: relative;
    color: rgb(255, 120, 120);
}

.line{
    position: absolute;
    width: 90px;
    height: 1px;
    background-color: grey;
    left: 15.5%;
}

.buy{
    background-color: #183D3D;
    color: #93B1A6;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 8%;
}

.desc{
    width: 659px;
    margin-top: 20px;
}


.home{
    width: 30px;
    height: 30px;
}

.h-name{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #93B1A6;
    font-size: 15px;
}

.icons{
    display: flex;
    gap: 3rem;
    margin-top: 25px;
}

.Contactowner{
    background-color: #183D3D;
    color: #93B1A6;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 30px;
}

form{
    display: flex;
    gap: 3rem;
    margin-top: 50px;
    float: right;
    margin-right: 6rem;
}

#city{
    width: 200px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    background-color: #363636;
    color: white;
}

#price{
    width: 150px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    background-color: #363636;
    color: white;
}

.card{
    position: relative;
    transition: all .5s ease;
}

.card img{
    width: 300px;
    height: 330px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .5s ease;

}

.descr{
    position: absolute;
    bottom: 15%;
    padding: 15px;
}

.descr p:first-child{
    color: white;
    font-weight: bold;
}
.descr p:last-child{
    color: #93B1A6;
    font-weight: bold;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(320px , 1fr));
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    padding: 1% 4%;
    gap: 2rem;
    box-shadow:20px #1D1D1D;
}

.card img:hover{
    filter: opacity(20%);
}

.comments{
    margin-top: 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pagination{
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: end;
    gap: 3rem;
    padding: 3% 6%;
}

.pagination button{
    color: #93B1A6;
    font-weight: bold;
    border: none;
}

#comment{
    width: 500px;
    border-radius: 15px;
    border: none;
    background-color: #363636;
    color: white;
    padding: 20px;
}

.comments2{
    width: 700px;
    background-color: #363636;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    padding: 30px;
}

.comment{
    display: flex;
    flex-direction: column;
}
.jamess p{
    width: 100%;
}

.rows {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #183D3D;
    padding: 4%;
    margin-top: 5%;
}

.modal {
    transition: opacity 0.25s ease;
    z-index: 100001;
  }
  body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
  }

.copy h1 {
    font-size: 15px;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.copy p {
    color: white;
    font-size: small;
}

.det-foot h1 {
    font-weight: 600;
    font-size: large;
    margin-bottom: 30px;
    vertical-align: middle;
    color: white;
}

.det-foot a {
    color: white;
    margin-bottom: 10px;
    display: inline-flex;
}

.det-foot li img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: 2px;
    margin-right: 10px;
}

.det-foot .tweet {
    width: 20px;
    height: 17px;
    vertical-align: middle;
    margin-top: 2px;
    margin-right: 10px;
}

.comm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}